html, .side-menu{
    min-height: 100%;
}
body{
    
   
}
#manage{
  display: inline;
  margin-bottom: 20px;
}
#opts{
    overflow: inherit;
}
#addForm, #importLabel{
    width: 60%;
}
table {
    position: relative;
    bottom: -22px;
}
.navbar-brand{
    font-size: 2.5em;
}
.line{
    width:60%;
    margin-left: 0%;
}
#exportBTN{
    color: #007bff
}