html, .side-menu{
    min-height: 100%;
}
body{
    
   
}
#manage{
  display: inline;
  margin-bottom: 20px;
}
#opts{
    overflow: inherit;
}
#addForm, #importLabel{
    width: 55%;
}
table {
    position: relative;
    bottom: -58px;
}